@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("/docs/assets/fonts/SpoqaHanSansNeo-Regular.woff");
  font-weight: 400;
}
@font-face {
  font-family: "SpoqaHanSansNeo-Medium";
  src: url("/docs/assets/fonts/SpoqaHanSansNeo-Medium.woff");
  font-weight: 500;
}
@font-face {
  font-family: "SpoqaHanSansNeo-Bold";
  src: url("/docs/assets/fonts/SpoqaHanSansNeo-Bold.woff");
  font-weight: 700;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  border: 0;
  clip: rect(0 0 0 0);
}

.join-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10rem auto;
}
.join-container h1 {
  width: 23.8rem;
}
.join-container h1 img {
  width: 100%;
}
.join-container form {
  width: 55rem;
  height: 100%;
  margin: 7rem auto 0rem;
}

.join-select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.btn-select-buyer, .btn-select-seller {
  max-width: 27.5rem;
  border-radius: 1rem;
  border: 1px solid #c4c4c4;
  padding: 2rem 8.8rem 3.8rem 8.7rem;
  font-family: "SpoqaHanSansNeo-Medium";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.2rem;
  text-align: center;
  white-space: nowrap;
  color: #000000;
  box-sizing: border-box;
  cursor: pointer;
}

.btn-select-buyer, .btn-select-seller {
  z-index: 10;
}

.btn-select-buyer.active, .btn-select-seller.active {
  background-color: #fff;
  border-bottom: none;
  z-index: 30;
}

.btn-select-buyer.active {
  border-right: none;
  border-bottom-left-radius: 0;
}

.btn-select-seller.active {
  border-left: none;
  border-bottom-right-radius: 0;
}

.join-submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  padding: 4rem 3.5rem 3.6rem;
  transform: translateY(-2rem);
  background-color: #fff;
  z-index: 20;
  border: 1px solid #c4c4c4;
  border-radius: 1rem;
  font-family: "SpoqaHanSansNeo-Regular";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.003rem;
}
.join-submit-container .msg {
  align-self: flex-start;
  display: none;
  margin-bottom: 0.2rem;
}
.join-submit-container .msg.display {
  display: block;
}
.join-submit-container .msg[aria-invalid=false] {
  color: #21BF48;
}
.join-submit-container .msg[aria-invalid=true] {
  color: #EB5757;
}

.phone-number-wrap .input-phone-number, .text-input, .input-contain-check {
  width: 100%;
  font-size: 1.6rem;
  line-height: 2.03rem;
  padding: 1.7rem 1.6rem;
  border: 1px solid #c4c4c4;
  border-radius: 0.5rem;
  color: #000;
}

.input-label {
  font-family: "SpoqaHanSansNeo-Regular";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.03rem;
  color: #767676;
  align-self: flex-start;
  margin-bottom: 1rem;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  gap: 1.2rem;
  margin-bottom: 1rem;
}

.text-input:focus, .input-contain-check:focus {
  outline: none;
  border-color: #21BF48;
}

.text-input {
  font-family: "SpoqaHanSansNeo-Regular";
  font-weight: 400;
}

.input-contain-check {
  font-family: "SpoqaHanSansNeo-Bold";
  font-weight: 700;
}

.check {
  position: absolute;
  top: 50%;
  right: 1.6rem;
  transform: translateY(-50%);
}

.btn-check-id {
  padding: 1.7rem 3.1rem 1.7rem 3.2rem;
  white-space: nowrap;
  color: #FFF;
  background-color: #21BF48;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-family: "SpoqaHanSansNeo-Medium";
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.03rem;
}

/* 
.text-input:invalid {
    border-color: $invalid-color;
}
 */
.personnal-information-container {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}
.personnal-information-container input {
  margin-bottom: 1.6rem;
}

.phone-number-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row;
  gap: 1.2rem;
  box-sizing: border-box;
}
.phone-number-wrap input {
  margin-bottom: 0;
}
.phone-number-wrap .phone-number-dropdown {
  position: relative;
  margin-top: 1rem;
}
.phone-number-wrap .dropdown-menu {
  display: none;
  position: absolute;
  margin-top: 0.6rem;
  height: 15rem;
  width: 15.2rem;
  z-index: 10;
  border-radius: 0.5rem;
  border: 1px solid #c4c4c4;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}
.phone-number-wrap .dropdown-menu::-webkit-scrollbar {
  display: none;
}
.phone-number-wrap .dropdown-menu.active {
  display: block;
}
.phone-number-wrap .dropdown-trigger {
  max-width: 15.2rem;
  padding: 1.7rem 1.2rem 1.7rem 5rem;
  border: 1px solid #c4c4c4;
  border-radius: 0.5rem;
  background-color: #FFF;
  font-family: "SpoqaHanSansNeo-Regular";
  font-size: 1.6rem;
  line-height: 2.03rem;
  white-space: nowrap;
}
.phone-number-wrap .dropdown-trigger:active {
  outline: none;
  border-color: #21BF48;
}
.phone-number-wrap .dropdown-trigger:focus {
  outline: none;
  border-color: #21BF48;
}
.phone-number-wrap .dropdown-trigger span {
  padding-right: 3.7rem;
}
.phone-number-wrap .dropdown-trigger img {
  width: 2.4rem;
  height: 1.4rem;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
}
.phone-number-wrap .dropdown-options {
  position: absolute;
  border-radius: 0.5rem;
  background-color: #FFF;
}
.phone-number-wrap .dropdown-option {
  display: inline-block;
  height: 4rem;
  font-family: "SpoqaHanSansNeo-Medium";
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.03rem;
  text-align: center;
  padding: 1rem 5.2rem;
}
.phone-number-wrap .dropdown-option:hover {
  background-color: #e0e0e0;
}
.phone-number-wrap .dropdown-option:focus {
  outline: auto;
}
.phone-number-wrap .input-phone-number {
  font-family: "SpoqaHanSansNeo-Regular";
}

.scroll-wrap {
  position: absolute;
  right: 0;
  width: 1.8rem;
  height: 100%;
  background-color: #f2f2f2;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.scroll-wrap .scroll-bar {
  margin: 0 auto;
  width: 0.6rem;
  height: 9rem;
  border-radius: 1rem;
  background-color: #c4c4c4;
  transition: ease;
}

.personnal-check {
  display: block;
  margin: 1.4rem auto 3.4rem;
  font-family: "SpoqaHanSansNeo-Regular";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.03rem;
  color: #767676;
  cursor: pointer;
}
.personnal-check em {
  font-family: "SpoqaHanSansNeo-Bold";
  font-weight: 700;
  text-decoration: underline;
}
.personnal-check::before {
  content: url("/assets/images/check-box.svg");
  margin: 0.2rem 1rem 0 0;
  width: 1.6rem;
}
#personnal-check:checked + .personnal-check::before {
  content: url("/assets/images/check-fill-box.svg");
  margin: 0.2rem 1rem 0 0;
  width: 1.6rem;
}

.btn-join {
  width: 100%;
  padding: 1.9rem 20.6rem 1.9rem 20.7rem;
  border: none;
  border-radius: 0.5rem;
  font-family: "SpoqaHanSansNeo-Bold";
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  text-align: center;
  background-color: #21BF48;
  cursor: pointer;
  color: #FFF;
}
.btn-join:disabled {
  cursor: default;
  background-color: #c4c4c4;
}/*# sourceMappingURL=join.css.map */