:root {
    --border--color : #c4c4c4;
    --border--active--color : #21BF48;
    --border--invalid--color : #EB5757;
    --placeholder--color : #767676;
    --label--color : #767676;
}
* {
    box-sizing: border-box;
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip-path: inset(50%);
	border: 0;
	clip: rect(0 0 0 0);
}

.text-input-border-bottom {
    width: 100%;
    font-family: "SpoqaHanSansNeo-Medium";
    font-size: 1.6rem;
    line-height: 2.03rem;
    padding: 2rem 0;
    border: none;
    border-bottom: 1px solid var(--border--color);
}

.text-input::placeholder {
    color : var(--placeholder--color);
}

.text-input-border-bottom:focus {
    outline: none;
    border-color: var(--border--active--color);
}

.text-input-label {
    font-family: 'SpoqaHanSansNeo-Regular';
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.03rem;
    text-align: left;
    color : var(--label--color);
}
.text-input,.text-input-limit,.text-input-contain-check {
    width: 100%;
    font-family: "SpoqaHanSansNeo-Medium";
    font-size: 1.6rem;
    line-height: 2.03rem;
    margin: 1rem auto;
    padding: 1.7rem 1.6rem;
    border: 1px solid var(--border--color);
    border-radius: 0.5rem;
    color : #000000;
}

.text-input::placeholder,.text-input-limit::placeholder,.text-input-contain-check::placeholder{
    color : var(--placeholder--color);
}

.text-input:focus,.text-input-limit:focus,.text-input-contain-check:focus {
    outline: none;
    border-color: var(--border--active--color);
}

.text-input:invalid {
    border-color: var(--border--invalid--color);
}

.text-input:valid {
    border-color: var(--border--color);
}

.msg {
    font-family: "SpoqaHanSansNeo-Regular";
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.03rem;
    text-align: left;
}

.text-input-limit-box {
    position: relative;
}
.text-input-limit{
    padding-right: 7rem; 
}

#input-limit-count {
    position: absolute;
    font-family: "SpoqaHanSansNeo-Regular";
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.753rem;
    text-align: left;
    color : var(--label--color);
    top :50%;
    transform: translateY(-50%);
    right: 1.6rem;
}

.input-wrapper { 
    position: relative;
}
#check {
    position: absolute;
    top : 50%;
    right: 1.6rem;
    transform: translateY(-50%);
}

.dropdown-trigger {
    padding : 1.7rem 1.2rem 1.7rem 5rem;
    border: 1px solid var(--border--color);
    border-radius: 0.5rem;
    background-color: #FFF;
    font-family:'SpoqaHanSansNeo-Regular';
    font-size: 1.6rem;
    line-height: 2.03rem;
}

.dropdown-trigger span {
    padding-right: 3.7rem;
}
.dropdown-trigger img {
    width: 2.4rem;
    height: 1.4rem;
    object-fit: cover;
    vertical-align: middle;
}
.dropdown-options {
    
    display: flex;
    flex-direction: column;
    width: 15.2rem;
    height: 15rem;
    border : 1px solid var(--border--color);
    border-radius: 0.5rem;
    overflow-y: hidden;
    display: none;
}

.dropdown-option {
    display: inline-block;
    height: 4rem;
    font-family:'SpoqaHanSansNeo-Medium';
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.03rem;
    text-align: center;
    padding : 1rem 5.2rem;
}