header {
    background-color: #FFF;
    box-shadow: 0px 4px 5px 0px #0000001A;
}
.header-container { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 128rem;
    margin : 0 auto;
    height: 9rem;
    h1 {
        width: 12.4rem;
        img {
            width : 100%;
            height: auto;
        }
    }
}

.search-bar-wrap {
    @include mixin.flexCenter;
    position: relative;
    margin: 0 auto 0 3rem;
    #search-bar {
        border : #21BF48 2px solid;
        border-radius: 5rem;
        padding : 1.3rem 5rem 1.3rem 2.2rem;
        width: 40rem;
    }

    .btn-search {
        position: absolute;
        padding : 0;
        border : none;
        background-color: transparent;
        top : 50%;
        right: 2.2rem;
        transform: translateY(-50%);
        cursor: pointer;
    }
}

.gnb-nav {
    ul{
        @include mixin.flexCenter;
        gap : 2.6rem;
    }
    
    .gnb-nav-item {
        text-align: center;
        button {
            border : none;
            background-color: transparent;
            cursor: pointer;
        }
        p {
            font-family: $font-regular;
            font-weight: 400;
            font-size : 1.2rem;
            line-height: 1.4rem;
            color : #767676;
            
        }
    }
}