$border-color : #c4c4c4;
$btn-background-color : #21BF48;
$btn-font-color : #FFF;
$btn-font-family : 'SpoqaHanSansNeo-Bold';
$font-login : 'SpoqaHanSansNeo-Medium';
$placeholder-color : #767676;
$border-focus-color : #21BF48;
$valid-color : #21BF48;
$invalid-color : #EB5757;
$label-color : #767676;
$font-bold : 'SpoqaHanSansNeo-Bold';
$font-medium : 'SpoqaHanSansNeo-Medium';
$font-regular : 'SpoqaHanSansNeo-Regular';

