@use 'mixin';
@import '_variable';


html {
    font-size: 10px;   
}

.sr-only {
    @include mixin.sr-only;
}
.login-container {
    @include mixin.flexCenter;
    flex-direction: column;
    margin : 10rem auto;
    
    h1 {
        width: 23.8rem;
        img  {
            width: 100%;
        }
    }

    form {
        width: 55rem;
        height: 100%;
        margin : 7rem auto 1rem;

    }
}

.login-select-container { 
    @include mixin.flexCenter;
    position: relative;
}

%btn-select { 
    max-width: 27.5rem;
    border-radius: 1rem;
    border : 1px solid  $border-color;
    padding : 2rem 7.8rem 3.8rem 7.7rem;
    font-family: $font-login;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.2rem;
    text-align: center;
    white-space:nowrap;
    color : #000000;
    box-sizing: border-box;
    cursor: pointer;
}

.btn-select-buyer,.btn-select-seller {
    @extend %btn-select;      
    z-index: 10;
}

.btn-select-buyer.active , .btn-select-seller.active {
    background-color: #fff;
    border-bottom: none;
    z-index : 30;
}

.btn-select-buyer.active {
    border-right: none;
    border-bottom-left-radius: 0;
}

.btn-select-seller.active {
    border-left: none;
    border-bottom-right-radius: 0;
}

.login-submit-container {
    @include mixin.flexCenter;
    position: relative;
    flex-direction: column;
    padding : 3.4rem 3.5rem 3.6rem;
    transform: translateY(-2rem);
    background-color: #fff;
    z-index: 20;
    border : 1px solid $border-color;
    border-radius: 1rem;

    input {
        width: 100%;
        font-family: $font-login;
        font-size: 1.6rem;
        line-height: 2.03rem;
        padding : 2rem 0;
        border : none;
        border-bottom : 1px solid #c4c4c4;
        margin-bottom: 0.6rem;
        &::placeholder {
            color : $placeholder-color;
        }
        &:focus{
            outline: none;
            border-color : $border-focus-color;
        }
    }

    .msg {
        display: none; 
        width: 100%;
        font-family: $font-login;;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2.03rem;
        text-align: left;
        color : $invalid-color;
        margin: 2.2rem 0 -0.4rem;
    }
    .msg.display {
        display: block;
    }
    .btn-login-submit { 
        margin-top : 3rem;
        padding: 1.9rem 21.5rem;
        font-family: $btn-font-family;
        background-color: $btn-background-color;
        color : $btn-font-color;
        border : none;
        border-radius: 0.5rem;
        font-weight: 700;
        font-size : 1.8rem;
        line-height: 2.2rem;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
    }
}

.login-link-more {
    @include mixin.flexCenter;
    font-family: 'SpoqaHanSansNeo-Regular';
    font-size: 1.6rem;
    line-height: 2.03rem;
    gap: 1.4rem;
    li > a{
        color : #333333;
    }
    li{
        &:not(:last-child)::after {
            content: "|";
            padding-left : 1.4rem;
        }
    }
}